html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  color: hsl(233, 54%, 16%);
  line-height: 1.275;
}
@media (min-width: 90rem) {
  h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color: hsl(233, 54%, 16%);
    line-height: 1.25;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
  color: hsl(0, 0%, 100%);
  line-height: 1.167;
}

h3 {
  font-size: 1.25rem;
  font-weight: 800;
  color: hsl(233, 54%, 16%);
  line-height: 1.25;
}

p {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(232, 10%, 48%);
  line-height: 1.625;
}

a {
  cursor: pointer;
  display: inline-flex;
  text-decoration: none;
}
a:focus {
  outline: auto 2px Highlight;
  outline: auto 5px -webkit-focus-ring-color;
}

.btn {
  border-radius: 1.75rem;
  font-size: 1rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.75;
  padding: 0.625rem 1.5rem;
  min-width: 8.75rem;
}

.btn--primary {
  background-color: hsl(233, 54%, 16%);
}
.btn--primary:hover {
  background-color: hsl(234, 25%, 52%);
}

.btn--secondary {
  background: linear-gradient(hsl(237, 100%, 64%), hsl(322, 87%, 55%));
}
.btn--secondary:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}

.btn--hero {
  background: linear-gradient(180deg, hsl(322, 77%, 49%), hsl(13, 100%, 44%));
  line-height: 1.625;
  padding: 0.9375rem 2.375rem;
  width: 10.5rem;
}
.btn--hero:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}
@media (min-width: 69.375rem) {
  .btn--hero {
    border-radius: 2rem;
    font-size: 1.125rem;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    line-height: 1.5rem;
    padding: 1.25rem 2rem;
  }
}

@media (min-width: 48rem) {
  .card {
    height: 16.25rem;
  }
}
@media (min-width: 69.375rem) {
  .card {
    height: 20.125rem;
  }
}

.card__heading,
.card__body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 90rem) {
  .card__heading,
.card__body {
    width: 21.875rem;
  }
}

.card__heading {
  border-radius: 0.625rem;
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}
@media (min-width: 48rem) {
  .card__heading {
    padding-top: 1.5rem;
  }
}
.card__heading h2 {
  padding: 2rem;
}
@media (min-width: 48rem) {
  .card__heading h2 {
    padding: 2rem 1.25rem 2rem 1.25rem;
  }
}
@media (min-width: 90rem) {
  .card__heading h2 {
    font-size: 2rem;
    font-weight: 800;
    color: hsl(0, 0%, 100%);
    line-height: 1.25;
    padding: 2rem 1.5rem 2rem 1.5rem;
  }
}

.card__body {
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  padding: 0 1.75rem 0 1.75rem;
  position: relative;
}
@media (min-width: 48rem) {
  .card__body {
    padding: 0 1.25rem 0 1.25rem;
  }
}
@media (min-width: 90rem) {
  .card__body {
    padding: 0 2rem 0 2rem;
    width: 21.875rem;
  }
}

.card__icon {
  position: absolute;
  top: -1.5rem;
}

.card__title {
  margin-bottom: 1rem;
  padding-top: 3.5rem;
}
@media (min-width: 90rem) {
  .card__title {
    margin-bottom: 1.5rem;
    padding-top: 4rem;
  }
}

.card__text {
  margin-bottom: 1.5rem;
}
@media (min-width: 90rem) {
  .card__text {
    font-size: 1.125rem;
    font-weight: 500;
    color: hsl(232, 10%, 48%);
    line-height: 1.5;
  }
}

.card__actions {
  display: flex;
  margin-top: auto;
  margin-bottom: 2rem;
}
@media (min-width: 69.375rem) {
  .card__actions {
    margin-bottom: 2.5rem;
  }
}

.card__link {
  font-size: 1.125rem;
  font-weight: 700;
  color: hsl(341, 72%, 52%);
  line-height: 1.5;
}
.card__link:hover {
  color: hsl(341, 100%, 83%);
}

.container {
  min-width: calc(100% - 2rem);
  margin-inline: auto;
  padding-inline: 1rem;
}
@media (min-width: 48rem) {
  .container {
    width: calc(100% - 5rem);
    padding-inline: 2.5rem;
  }
}
@media (min-width: 69.375rem) {
  .container {
    width: calc(100% - 20.625rem);
    padding-inline: 10.3125rem;
  }
}

.course-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
@media (min-width: 48rem) {
  .course-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.875rem;
    width: fit-content;
    margin-inline: auto;
  }
}
@media (min-width: 69.375rem) {
  .course-container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875rem;
    row-gap: 5rem;
    justify-items: center;
    align-items: center;
  }
}

header {
  max-width: 90rem;
  margin-inline: auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}
@media (min-width: 48rem) {
  .main-header {
    padding-top: 1.5rem;
  }
}

.logo {
  width: 5.5625rem;
}
@media (min-width: 69.375rem) {
  .logo {
    width: 7.125rem;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.375rem 1rem 0 1rem;
  position: relative;
  width: auto;
}
@media (min-width: 48rem) {
  #hero {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 1.375rem 2.5rem 11.25rem 2.5rem;
  }
}
@media (min-width: 69.375rem) {
  #hero {
    padding: 8.75rem 10.3125rem 14.125rem 10.3125rem;
  }
}

.hero__content {
  padding-bottom: 2rem;
}
@media (min-width: 48rem) {
  .hero__content {
    flex-basis: 55%;
  }
}
@media (min-width: 90rem) {
  .hero__content {
    flex-basis: 65%;
  }
}

.hero__heading {
  margin-bottom: 1.625rem;
}
@media (min-width: 48rem) {
  .hero__heading {
    width: 25rem;
  }
}
@media (min-width: 90rem) {
  .hero__heading {
    margin-bottom: 1.875rem;
    width: 28.75rem;
  }
}

.hero__text {
  margin-bottom: 1.5rem;
}
@media (min-width: 48rem) {
  .hero__text {
    width: 25rem;
  }
}
@media (min-width: 90rem) {
  .hero__text {
    font-size: 1.125rem;
    font-weight: 500;
    color: hsl(232, 10%, 48%);
    line-height: 1.5;
    margin-bottom: 2.5rem;
    width: 27.8125rem;
  }
}

.hero__image {
  position: relative;
}
@media (min-width: 48rem) {
  .hero__image {
    position: absolute;
    top: -13.25rem;
    right: -18.625rem;
    overflow: hidden;
    z-index: -1;
  }
}
@media (min-width: 69.375rem) {
  .hero__image {
    position: absolute;
    top: -16.25rem;
    right: -20.625rem;
  }
}

.hero__image img {
  max-width: 100%;
}

#courses {
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
  width: auto;
  padding-bottom: 5.375rem;
}
@media (min-width: 69.375rem) {
  #courses {
    padding-bottom: 8.75rem;
  }
}

footer {
  background-color: hsl(233, 54%, 16%);
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  width: 100%;
  max-width: 90rem;
  margin-inline: auto;
}
@media (min-width: 69.375rem) {
  .main-footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
