// ___________________________________________________________________
// Containers
// ___________________________________________________________________

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;

  @media #{$brkpoint-md} {
    padding-inline: 2.5rem;  
  }

  @media #{$brkpoint-xl} {
    padding-inline: 10.3125rem;
  }
}

.course-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.5rem;

  @media #{$brkpoint-md} {
    grid-template-columns: 1fr 1fr;
    column-gap: 1.875rem;
    margin-inline: auto;
  }

  @media #{$brkpoint-lg} {
    grid-template-columns:  repeat(3, 1fr);
    column-gap: 1.875rem;
    row-gap: 5rem;
    justify-items: center;
    align-items: center;
    max-width: 69.375rem;
  }
}
