// ___________________________________________________________________
// Footer
// ___________________________________________________________________

footer {
  background-color: $slate;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: footer;
  height: 120px;
  padding: 22px 16px;
  width: 100vw;
}
