// ___________________________________________________________________
// Footer
// ___________________________________________________________________

footer {
  background-color: $color-bg-dark;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  width: 100%;
  max-width: 90rem;
  margin-inline: auto;

  @media #{$brkpoint-lg} {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
