// ___________________________________________________________________
// Header
// ___________________________________________________________________

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  grid-area: header;
  padding: 1rem 1rem 1.375rem 1rem;
  max-width: 100%;

  @media #{$brkpoint-md} {
    padding: 1.5rem 2.5rem 4.5rem 2.5rem;
  }
}

.logo {
  width: 5.5625rem;
}
