// ___________________________________________________________________
// Header
// ___________________________________________________________________

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  height: 80px;
  margin: auto;
  padding: 0 16px;
  width: 100vw;
}

.logo {
  width: 89px;
}
