// ___________________________________________________________________
// Header
// ___________________________________________________________________

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 69.375rem;

  @media #{$brkpoint-md} {
    padding: 1.5rem 2.5rem 1rem 2.5rem;
  }

  @media #{$brkpoint-lg} {
    padding: 1.5rem 0 1rem 0;
  }
}

.logo {
  width: 5.5625rem;

  @media #{$brkpoint-lg} {
    width: 7.125rem;
  }
}
