// ___________________________________________________________________
// Main - Hero & Section Styles
// ___________________________________________________________________

main {
  grid-area: main;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__content {
  margin: 24px auto;
  padding: 0 16px;
  width: 100vw;
}

.hero__headline {
  margin-bottom: 26px;
}

.hero__copy {
  margin-bottom: 24px;
}

picture {
  margin: auto;
}

.hero__image {
  overflow: hidden;
}

#courses {
  background: $color-bg-gray;
  padding: 0 1rem 80px 1rem;
}

#courses h2 {
  @include rounded(10px);
  background: $color-bg-pink;
  height: 120px;
  margin: 0 0 40px;
  padding: 20px;
  width: 100%;
}
