// ___________________________________________________________________
// Main - Hero & Section Styles
// ___________________________________________________________________

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.375rem 1rem 0 1rem;
  position: relative;
  width: auto;

  @media #{$brkpoint-md} {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 1.375rem 2.5rem 11.25rem 2.5rem;
  }

  @media #{$brkpoint-lg} {
    padding: 8.75rem 10.3125rem 14.125rem 10.3125rem;
  }
}

.hero__content {
  padding-bottom: 2rem;

  @media #{$brkpoint-md} {
    flex-basis: 55%;
  }

  @media #{$brkpoint-xl} {
    flex-basis: 65%;
  }
}

.hero__heading {
  margin-bottom: 1.625rem;

  @media #{$brkpoint-md} {
    width: 25rem;
  }

  @media #{$brkpoint-xl} {
    margin-bottom: 1.875rem;
    width: 28.75rem;
  }
}

.hero__text {
  margin-bottom: 1.5rem;

  @media #{$brkpoint-md} {
    width: 25rem;
  }

  @media #{$brkpoint-xl} {
    @include text($bodyM, $font-weight--regular, $gray);
    line-height: $line-BodyM;
    margin-bottom: 2.5rem;
    width: 27.8125rem;
  }
}

.hero__image {
  position: relative;

  @media #{$brkpoint-md} {
    position: absolute;
    top: -13.25rem;
    right: -18.625rem;
    overflow: hidden;
    z-index: -1;
  }

  @media #{$brkpoint-lg} {
    position: absolute;
    top: -16.25rem;
    right: -20.625rem;
  }
}

.hero__image img {
  max-width: 100%;
}

#courses {
  background: $color-bg-gray;
  width: auto;
  padding-bottom: 5.375rem;

  @media #{$brkpoint-lg} {
    padding-bottom: 8.75rem;
  }
}
