// ___________________________________________________________________
// Button Links
// ___________________________________________________________________

.btn {
  @include rounded(28px);
  @include text($bodyS, $font-weight--bold, $white);
  font-family: $font-family--primary;
  line-height: $line-default;
  padding: 10px 24px;
  width: 140px;
}

.btn--primary {
  background-color: $color-btn-primary;

  &:hover {
    background-color: $dusk;
  }
}

.btn--secondary {
  background: linear-gradient($color-btn-secondary);

  &:hover {
    background: $hover-sunset;
  }
}

.btn--hero {
  background: linear-gradient(180deg, $color-btn-tertiary);
  padding: 15px 38px;
  width: 168px;

  &:hover {
    background: $hover-sunrise;
  }
}
