// ___________________________________________________________________
// Button Links
// ___________________________________________________________________

.btn {
  @include rounded(1.75rem);
  @include text($bodyS, $font-weight--bold, $white);
  font-family: $font-family--primary;
  line-height: $line-BodyS;
  padding: .625rem 1.5rem;
  width: 8.75rem;
}

.btn--primary {
  background-color: $color-btn-primary;

  &:hover {
    background-color: $dusk;
  }
}

.btn--secondary {
  background: linear-gradient($color-btn-secondary);

  &:hover {
    background: $hover-sunset;
  }
}

.btn--hero {
  background: linear-gradient(180deg, $color-btn-tertiary);
  line-height: $line__default;
  padding: .9375rem 2.375rem;
  width: 10.5rem;

  &:hover {
    background: $hover-sunrise;
  }
}
