// ___________________________________________________________________
// Card Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.card {
  @media #{$brkpoint-md} {
    height: 16.25rem;
  }

  @media #{$brkpoint-lg} {
    height: 20.125rem;
  }
}

.card__heading,
.card__body {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media #{$brkpoint-xl} {
    width: 21.875rem;
  }
}

.card__heading {
  @include rounded(.625rem);
  background: $color-bg-pink;

  @media #{$brkpoint-md} {
    padding-top: 1.5rem;
  }

  h2 {
    padding: 2rem;

    @media #{$brkpoint-md} {
      padding: 2rem 1.25rem 2rem 1.25rem;
    }

    @media #{$brkpoint-xl} {
      @include text($headingM, $font-weight--extra-bold, $white);
      line-height: $lineM;
      padding: 2rem 1.5rem 2rem 1.5rem;
    }
  }
}

.card__body {
  @include rounded(10px);
  background-color: $color-bg-light;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  padding: 0 1.75rem 0 1.75rem;
  position: relative;

  @media #{$brkpoint-md} {
    padding: 0 1.25rem 0 1.25rem;
  }

  @media #{$brkpoint-xl} {
    padding: 0 2rem 0 2rem;
    width: 21.875rem;
  }
}

.card__icon {
  position: absolute;
  top: -1.5rem;
}

.card__title {
  margin-bottom: 1rem;
  padding-top: 3.5rem;

  @media #{$brkpoint-xl} {
    margin-bottom: 1.5rem;
    padding-top: 4rem;
  }
}

.card__text {
  margin-bottom: 1.5rem;

  @media #{$brkpoint-xl} {
    @include text($bodyM, $font-weight--regular, $gray);
    line-height: $line-BodyM;
  }
}

.card__actions {
  display: flex;
  margin-top: auto;
  margin-bottom: 2rem;

  @media #{$brkpoint-lg} {
    margin-bottom: 2.5rem;
  }
}

.card__link {
  @include text($bodyM, $font-weight--bold, $hotpink);
  line-height: $line-BodyM;

  &:hover {
    color: $pink;
  }
}
